* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  color: #333;
  line-height: 1.6;
  background: #e5edef;
}

/*
/*--------
/* Landing page background
/*--------
*/
.showcase::after {
  content: "";
  height: 100vh;
  width: 100%;
  display: block;

  background-image: url("./assests/nutrition.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* filter: blur(2px); */
  opacity: 0.6;
}

/*
/*--------
/* Landing page content
/*--------
*/
.content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 105px;
  margin-left: -215px;
  width: 450px;
  height: 350px;
  color: #333;
  text-align: center;
}

.content h1 {
  /* font-family: "lora"; */
  font-weight: 800;
  font-size: 3rem;
  margin-top: 1rem;
}

.content .text {
  /* font-family: "merriweather"; */
  line-height: 1.7;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.content .button {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 500;
  color: #333;
  padding: 10px 20px;
  border: #333 1px solid;
  border-radius: 10px;
  margin-top: 20px;
}

.content .button:hover {
  border: #acbe84 2px solid;
  background-color: #acbe84;
}

/*
/*--------
/* Layout
/*--------
*/
.container {
  max-width: 150vh;
  margin: auto;
  overflow: hidden;
  padding: 3rem 1rem;
}

.grid-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

/*
/*--------
/* Services
/*--------
*/
.services {
  background-color: #fafafa;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.services .service {
  text-align: center;
}

.service h3 {
  padding: 8px;
}

/*
/*--------
/* About
/*--------
*/
.about {
  background-color: #acbe84;
}

.about .img-about {
  width: 60%;
  height: 60%;
  margin-left: 7rem;
  border-radius: 50%;
}

.about .about-me {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/*
/*--------
/* Blog
/*--------
*/
.blog {
  background-color: #fafafa;
  padding: 1rem;
}

.blog-posts {
  border: #333 1px solid;
  height: auto;
  width: auto;
  /* background-color: #fafafa; */
}

.blog-posts .posts-caption {
  margin-top: -18px;
  background: #fafafa;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.blog-posts .post {
  text-align: center;
  padding: 30px;
}

.blog-posts .post-image {
  max-width: 100%;
  object-fit: cover;
}

.post-link {
  text-decoration: none;
}

.post-title {
  color: #333;
}

.blog-link {
  text-align: center;
  height: auto;
  width: 100%;
  padding-bottom: 1rem;
}

.blog-link .button {
  font-size: 1.1rem;
  text-decoration: none;
  padding: 10px 20px;
  color: #333;
  border: #333 1px solid;
  border-radius: 10px;
  text-align: center;
}

.blog-link .button:hover {
  border: #acbe84 2px solid;
  background-color: #acbe84;
}
